.mr-24px {
    margin-right: -24px;
}

.bg-slider {
    background-color: #FEEAE9;
}

.f-56 {
    font-size: 3.5rem;
}

.color1 {
    color: #FF136F;
}

.gradient {
    background-image: linear-gradient(to right, #FF589B, #FF136F);
}

.gradient-blue {
    background-image: linear-gradient(to right, #4289FF, #3F07F8);
}

.gradient-blue {
    background-image: linear-gradient(to right, #4289FF, #3F07F8);
}

.gradient-yellow {
    background-image: linear-gradient(to right, #FF9C35, #FFD019);
}

.border-none {
    border: none;
}

.height-vh {
    min-height: 100vh;
}

.border-radius {
    border-radius: 1rem;
}

.card-body {
    text-align: center;
}